{ googleFonts: [ 'Didact Gothic' ],
  classes: [],
  elements:
   [ h3: { 'font-weight': 400,
       'font-size': 18,
       'text-align': 'LEFT',
       'text-align-vertical': 'TOP',
       'font-family': 'Didact Gothic',
       color: 'grey' },
     body: { 'font-weight': 400,
       'font-size': 16,
       'text-align': 'LEFT',
       'text-align-vertical': 'TOP',
       'font-family': 'Didact Gothic',
       color: 'darkgrey' },
     h2: { 'font-weight': 400,
       'font-size': 24,
       'text-align': 'LEFT',
       'text-align-vertical': 'TOP',
       'font-family': 'Didact Gothic',
       color: 'darkgrey' },
     h1: { 'font-weight': 400,
       'font-size': 32,
       'text-align': 'LEFT',
       'text-align-vertical': 'TOP',
       'font-family': 'Didact Gothic',
       color: 'blue' } ],
  '.undefined': 'color: #30486F' }
